.expense-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .expense-date__month {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: gray;
  }
  .expense-date__year {
    font-size: 0.75rem;
    margin: 0.25rem 0;
  }
  
  .expense-date__day {
    font-size: 1.5rem;
    margin: 0.25rem 0;
  }